<div class="flex-container small extra-width">
    {% block devices %}
    <div class="floorplan">
    {% for device in config.devices %}
        {% block device %}
          {% for deviceState in device.deviceStates %}
              {% block state %}
                <div class="floorplan-item" style="left: {{ deviceState.left }}px; top:{{ deviceState.top }}px">
                {% if deviceState.type == 'door' %}
                  <div class="value small bright">
                      <i class="dimmed {% if values[deviceState.id] == true %}fa fa-door-open open {% else %}fa fa-door-closed{% endif %}"></i>
                  </div>
                {% else %}
                  <div class="value small bright">
                    {% if deviceState.icon %}<i class="dimmed {{ deviceState.icon }}"></i>{% endif %}
                    {{ values[deviceState.id] | default('---')}}{{ deviceState.suffix | default('') | safe }}
                  </div>
                {% endif %}
              {% endblock %}
              </div>
          {% else %}
          {% endfor %}

        {% endblock %}
    {% else %}
    {% endfor %}
    </div>
    {% endblock %}
</div>
